In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
db = pd.read_csv("C:/Users/thale/Desktop/Faculdade_e_Trabalho/IC/IC2019/SolarPrediction.csv")

In [3]:
db = db.sort_values(['UNIXTime'], ascending = [True])
db

,,,UNIXTime,Data,Time,Radiation1,Radiation2,Radiation3,Y,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
1482672096,12/25/2016 12:00:00 AM,0,1.400000e+01,1.20,1.22,1.22,1.22,45,30.43,31,155.39,11.25,0,288194444444444,0,74375
1475934624,42592,0,1.600000e+01,1.27,1.27,1.21,1.25,47,30.38,87,159.52,7.87,0,260416666666667,0,753472222222222
1475761824,42531,0,1.600000e+01,1.22,1.20,1.27,1.24,48,30.43,96,194.59,6.75,0,260416666666667,0,754861111111111
1480773024,42441,0,1.600000e+01,1.17,1.17,1.27,1.21,45,30.30,93,169.00,9.00,0,279166666666667,0,738194444444444
1473515424,42652,0,1.600000e+01,3.27,3.25,3.55,3.49,42,30.34,95,175.81,4.50,0,25625,0,770833333333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482486949,12/22/2016 12:00:00 AM,0,9.970949e+14,1.22,1.24,1.24,1.25,49,30.45,27,132.04,6.75,0,286805555555556,0,742361111111111
1482746149,12/25/2016 12:00:00 AM,0,9.970949e+14,1.24,1.22,1.24,1.24,45,30.46,102,103.70,5.62,0,288194444444444,0,74375
1482573349,12/23/2016 12:00:00 AM,0,9.970949e+14,1.23,1.27,1.23,1.23,47,30.48,43,154.22,12.37,0,2875,0,743055555555555
1482400553,12/21/2016 12:00:00 AM,0,9.971412e+14,1.21,1.23,1.22,1.22,45,30.41,91,320.96,3.37,0,286805555555556,0,742361111111111
1482659785,12/24/2016 12:00:00 AM,0,9.975116e+14,1.23,1.26,1.21,1.22,46,30.46,32,148.86,5.62,0,2875,0,743055555555555

In [4]:
from datetime import datetime   #funções das 6 primeiras linhas
from pytz import timezone
import pytz
hawaii= timezone('Pacific/Honolulu') #
db.index =  pd.to_datetime(db['UNIXTime'], unit='s')
db.index = db.index.tz_localize(pytz.utc).tz_convert(hawaii)
db['MonthOfYear'] = db.index.strftime('%m').astype(int)
db['DayOfYear'] = db.index.strftime('%j').astype(int)
db['WeekOfYear'] = db.index.strftime('%U').astype(int)
db['TimeOfDay(h)'] = db.index.hour
db['TimeOfDay(m)'] = db.index.hour*60 + db.index.minute
db['TimeOfDay(s)'] = db.index.hour*60*60 + db.index.minute*60 + db.index.second
db['TimeSunRise'] = pd.to_datetime(db['TimeSunRise'], format='%H:%M:%S')
db['TimeSunSet'] = pd.to_datetime(db['TimeSunSet'], format='%H:%M:%S')
db['DayLength(s)'] = db['TimeSunSet'].dt.hour*60*60 \
                           + db['TimeSunSet'].dt.minute*60 \
                           + db['TimeSunSet'].dt.second \
                           - db['TimeSunRise'].dt.hour*60*60 \
                           - db['TimeSunRise'].dt.minute*60 \
                           - db['TimeSunRise'].dt.second
db.drop(['Data','Time','TimeSunRise','TimeSunSet','UNIXTime'], inplace=True, axis=1)
db.head()

OutOfBoundsDatetime: cannot convert input 10099537037037.0 with the unit 's'

In [ ]:
X = db.drop('Y', axis = 1)
X = StandardScaler().fit_transform(X)
y = db['Radiation']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print("Training MLPRegressor...") #20, 50, 100, 150
reg = MLPRegressor(hidden_layer_sizes =(20,20,20,20,20 ),solver='adam',activation = 'relu',learning_rate='adaptive',learning_rate_init = 0.1,max_iter=10000, shuffle = False)
reg.fit(X_train,y_train)

In [ ]:
y_predict= reg.predict(X_test)
print("Resultados")
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_predict))
print('Variance score: %.2f' % r2_score(y_test, y_predict))
plt.scatter(y_test,y_predict,marker='.')
plt.show()

In [ ]:
y_predict_train = reg.predict(X_train)
print("teste de overfiting")
print("Mean squared error: %.2f"
      % mean_squared_error(y_train, y_predict_train))
print('Variance score: %.2f' % r2_score(y_train, y_predict_train))
plt.scatter(y_train,y_predict_train,marker='.')
plt.show()

In [ ]:
l=db.loc(0)
print(l)